---
---

@import "import_mainResponsiveFunctions";
@import "import_colors";
@import "import_transitionsextend";


#projekteHeader {
  opacity: 0;

}

.main-index-container {

  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;

  width: 100%;
  min-height: calc(100vh - 100px);


  @include widthLvl00 { padding-top: 10%; padding-bottom: 10%;}
  @include widthLvl01 { padding-top: 10%; padding-bottom: 10%;}
  @include widthLvl02 { padding-top: 7.5%; padding-bottom: 7.5%;}
  background-color:$colorDarkGrey;

  @include widthLvl03 { padding-top: 2.5%; padding-bottom: 2.5%;}
  @include widthLvl04 { padding-top: 2.5%; padding-bottom: 2.5%;}
  @include widthLvl05 { padding-top: 2.5%; padding-bottom: 2.5%;}

  display: flex;
  justify-content: center;

}

.main-index-content {

  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;

  height: auto;

  @include widthLvl00 { min-width: 100%; max-width: 100%; width: 100%;}
  @include widthLvl01 { min-width: 100%; max-width: 100%; width: 100%;}
  @include widthLvl02 { min-width: 100%; max-width: 100%; width: 100%;}
  @include widthLvl03 { min-width: 100%; max-width: 100%; width: 100%;}
  @include widthLvl04 { min-width: 100%; max-width: 100%; width: 100%;}
  @include widthLvl05 { min-width: 1320px; max-width: 1320px; width: 1320px;}

  justify-content: flex-start;
  align-items: center;

}

.projekte-index-kategorien-container {

  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;

  @include widthLvl02{ padding-top: calc((7.5% - 38px));}
  @include widthLvl03{ padding-top: calc((6% - 38px));}
  @include widthLvl04{ padding-top: calc((6% - 38px));}
  @include widthLvl05{ padding-top: calc((6% - 38px));}

  @include widthLvl00 { flex-direction: column;  text-align: center;align-items: center;justify-content: center;}
  @include widthLvl01 { flex-direction: column;  text-align: center;align-items: center;justify-content: center;}
  @include widthLvl02 { flex-direction: column;  text-align: center;align-items: center;justify-content: center;}

  .kategorien-element {

    @include widthLvl00 {  flex-direction: column;padding-top: 5%;}
    @include widthLvl01 {  flex-direction: column;padding-top: 5%;}
    @include widthLvl02 {  flex-direction: column;padding-top: 5%;}

  }
  .kategorien-element:hover {
    color: white;
    cursor: pointer;
  }

  .kategorien-spacer {

      @include widthLvl00 {min-width: 0%; width: 0%;}
      @include widthLvl01 {min-width: 0%; width: 0%;}
      @include widthLvl02 {min-width: 0%; width: 0%;}
      @include widthLvl03 {min-width: 0%; width: 0%;}
      @include widthLvl04 {min-width: 0%; width: 2.5%;}
      @include widthLvl05 {min-width: 0%; width: 0%;}


  }

}

.projekte-preview-img-container {
  display: flex;
  width: 100%;
  @include widthLvl00 {flex-flow: column; min-height: 200px; padding-top: 5%;}
  @include widthLvl01 {flex-flow: column; min-height: 200px; padding-top: 5%;}
  @include widthLvl02 {flex-flow: row; min-height: 300px; padding-top: 5%;}
  @include widthLvl03 {flex-flow: row; min-height: 300px; padding-top: 6%;}
  @include widthLvl04 {flex-flow: row; min-height: 500px; padding-top: 6%;}
  @include widthLvl05 {flex-flow: row; min-height: 500px; padding-top: 6%;}


  align-items: center;
  justify-content: center;

}

.projekte-preview-elements {

  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
              0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(60%);
  -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */

  text-transform: uppercase;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .5s;

  min-width: 20%;
  max-width: 20%;

  @include widthLvl00 {margin: 2.5%; min-width: 90%; max-width: 90%; min-height: 200px; max-height: 200px;}
  @include widthLvl01 {margin: 2.5%; min-width: 90%; max-width: 90%; min-height: 200px; max-height: 200px;}
  @include widthLvl02 {margin: 2.5%; min-height: 300px; max-height: 300px;}
  @include widthLvl03 {margin: 2.5%; min-height: 300px; max-height: 300px;}
  @include widthLvl04 {margin: 2.5%; min-height: 400px; max-height: 400px;}
  @include widthLvl05 {margin: 2.5%; min-height: 400px; max-height: 400px;}



  &:hover {
    filter: grayscale(0);
    transform: scale(1.1);
    @include widthLvl00 {transform: scale(1.05);}
    @include widthLvl01 {transform: scale(1.05);}
    cursor: pointer;
    color: #fff;
  }
}

.projekte-container-fluid {

  @include widthLvl00 {margin-top: 100px; padding-top: 0px;}
  @include widthLvl01 {margin-top: 100px; padding-top: 0px;}
  @include widthLvl02 {margin-top: 150px; padding-top: 0px;}

  margin-top: 150px;
  padding-top: 100px;

  width: 100%;
  height: auto;

  display: flex;
  padding-top: 100px;

}

.projekte-container {

  width: 100%;
  display: flex;
  flex-flow: column;

}

.projekte-row-1, .projekte-row-2, .projekte-row-3 {

  width: 100%;
  display: flex;
  flex-direction: row;

  @include widthLvl00 {flex-direction: column;}
  @include widthLvl01 {flex-direction: column;}
  @include widthLvl02 {flex-direction: column;}

}

.projekte-spacer-vertical {
  @include widthLvl00 {min-width: 0vw; max-width: 0vw; width: 0vw;}
  @include widthLvl01 {min-width: 0vw; max-width: 0vw; width: 0vw;}
  @include widthLvl02 {min-width: 0vw; max-width: 0vw; width: 0vw;}

  min-width: 1.5vw; width: 1.5vw;


}

.projekte-spacer-horizontal-mobile {
  min-height: 1.5vw;
  display: flex;
  @include widthLvl03 {min-height: 0vw; display: none;}
  @include widthLvl04 {min-height: 0vw; display: none;}
  @include widthLvl05 {min-height: 0vw; display: none;}
}
.projekte-spacer-horizontal {

  @include widthLvl03 {min-height: 1.5vw;}
  @include widthLvl04 {min-height: 1.5vw;}
  @include widthLvl05 {min-height: 1.5vw;}



}

@for $i from 1 through 7 {
  .projekte-element-container-#{$i} {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @include widthLvl00 {height: 40vh; min-width: 100vw; max-width: 100vw; width: 100vw;  }
    @include widthLvl01 {height: 40vh; min-width: 100vw; max-width: 100vw; width: 100vw;  }
    @include widthLvl02 {height: 40vh; min-width: 100vw; max-width: 100vw; width: 100vw;  }
  }
  .projekte-element-#{$i} {

    @extend .background-preloader ;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */

    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .5s;

    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      transition: transform .3s;



    }

    img:hover {
      filter: grayscale(0);
      transform: scale(1.1);
      cursor: pointer;

    }
    .projekte-img-description {

      position: absolute;
      left: 40px;
      bottom: 40px;
    }
    .projekte-img-description-big {

      position: absolute;
      top: 20px;
      left: 20px;
    }
  }

  .projekte-element-#{$i}:hover {
    filter:none;
    transform: scale(1.05);
    cursor: pointer;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  }

}

.projekte-element-container-1 {
  width: 66%;
  @include widthLvl03 {height: 948px;}
  @include widthLvl04 {height: 948px;}
  @include widthLvl05 {height: 948px;}
}
.projekte-element-container-2 {
  width: 32.75%;
  @include widthLvl03 {height: 948px;}
  @include widthLvl04 {height: 948px;}
  @include widthLvl05 {height: 948px;}
}


.projekte-element-container-3, .projekte-element-container-4 {
  width: 48.5vw;
  @include widthLvl03 {height: 632px;}
  @include widthLvl04 {height: 632px;}
  @include widthLvl05 {height: 632px;}

}

.projekte-element-container-5, .projekte-element-container-6, .projekte-element-container-7 {
  width: 32.3vw;
  max-width: 32.3vw;
  @include widthLvl03 {height: 474px;}
  @include widthLvl04 {height: 474px;}
  @include widthLvl05 {height: 474px;}

}
