---
---

@import "import_mainResponsiveFunctions";
@import "import_colors";

html, body, .header {

  height: 100% !important;
  min-height: 100% !important;
  min-width: 100%;
  overflow-x: hidden; //horizontal
}

body {
  padding: 0px;
  margin: 0px;

}

.border-color-dark hr {
    border-color: $colorDarkGrey;
}
.border-color-light hr {
    border-color: $colorLightGrey;
  }


hr {

  border-width: 2px ;
  border-style: solid;

  max-width:100px;
  min-width: 100px;

  @include widthLvl00 {border-width: 2px ;min-width:60px; max-width:60px; margin-top: 20px; margin-bottom: 20px;}
  @include widthLvl01 {border-width: 3px ;min-width:80px; max-width:80px;margin-top: 30px; margin-bottom: 30px;}
  @include widthLvl02 {border-width: 3px ;min-width:100px; max-width:100px;margin-top: 5%; margin-bottom: 5%;}

  margin-top: 38px;
  margin-bottom: 38px;

  text-align: center;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;


}

p {

  text-align: center;

}


.anchormargin {
  position: relative;

  @include widthLvl00 {top: -50px;}
  @include widthLvl01 {top: -50px;}
  @include widthLvl02 {top: -50px;}
  @include widthLvl03 {top: -50px;}
  @include widthLvl04 {top: -50px;}
  @include widthLvl05 {top: -50px;}

}
.anchormarginLeistungen {
  position: relative;

  @include widthLvl00 {top: -75px;}
  @include widthLvl01 {top: 13vh  ;}
  @include widthLvl02 {top: -50px;}
  @include widthLvl03 {top: -75px;}
  @include widthLvl04 {top: -50px;}
  @include widthLvl05 {top: -80px;}

}

.background-white {
  background-color: white;
}
.background-darkgrey {
  background-color: $colorDarkGrey;
}

.disable-on-mobile {
  @include widthLvl00 {display: none !important;}
  @include widthLvl01 {display: none !important;}
  @include widthLvl02 {display: none !important;}
}

.inner-content-padding {
  @include widthLvl00 {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @include widthLvl01 {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @include widthLvl02 {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @include widthLvl03 {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @include widthLvl04 {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include widthLvl05 {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 25px;
    padding-bottom: 25px;
  }

//   padding-top: calc((7.5% - 38px));
// padding-top: calc((7.5% - 38px));
}
