---
---

@import "import_mainResponsiveFunctions";
@import "import_colors";


#leistungenHeader {
  opacity: 0;
  color: $colorDarkGrey;
}

.leistungen-sub-container {


  @include widthLvl00 { min-width: 100%; width: 100%; max-width: 100%; overflow: hidden; padding-left: 2.5%;}
  @include widthLvl01 { min-width: 100%; width: 100%; max-width: 100%; overflow: hidden; padding-left: 2.5%;}
  @include widthLvl02 { min-width: 100%; width: 100%; max-width: 100%; overflow: hidden; padding-left: 2.5%;}
  @include widthLvl03 { min-width: 100%; width: 100%; max-width: 100%; overflow: hidden; padding-left: 2.5%;}
  @include widthLvl04 { min-width: 100%; width: 100%; max-width: 100%; overflow: hidden; padding-left: 2.5%;}
  @include widthLvl05 { min-width: 100%; width: 100%; max-width: 100%; overflow: hidden; padding-left: 2.5%;}

  height: auto;

  justify-content: flex-start;
  align-items: flex-start;


}

.leistungen-mobile-content {
  display: none;
  @include widthLvl00 { display: flex; padding-top: calc((7.5% - 38px));}
  @include widthLvl01 { display: flex; padding-top: calc((7.5% - 38px));}
  @include widthLvl02 { display: flex; padding-top: calc((7.5% - 38px));}

  width: 100%;
  height: auto;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.leistungen-element-container {

  @include widthLvl00{ display: none;  padding-top: calc((7.5% - 38px));}
  @include widthLvl01{ display: none;  padding-top: calc((7.5% - 38px));}
  @include widthLvl02{ display: none;  padding-top: calc((7.5% - 38px));}
  @include widthLvl03{ padding-top: calc((6% - 38px));}
  @include widthLvl04{ padding-top: calc((6% - 38px));}
  @include widthLvl05{ padding-top: calc((6% - 38px));}

  display: flex;
  flex-flow: row;

}

.leistungen-element-h {
  flex: 1;


}

.leistungen-element-beschreibung {

  flex: 2;

  @include widthLvl04 {padding-left: 2.5%;}
}
