---
---

html * {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
html, body, header {

  height: 100% !important;
  min-height: 100% !important;
  min-width: 100%;

}


h1 {

  padding:0px !important;
  margin:0px !important;

  font-weight: bold;
  font-size: 72px;

  color: #383533;

  align-self: center;
  text-align: center;

}

h2 {

  text-transform: uppercase;

  padding:0px !important;
  margin:0px !important;

  font-weight: bold;
  font-size: 48px;

  color: #c6c6c6;

  align-self: flex-start;
  text-align: left;

}


hr {

  border-color: #383533;
  border-width: 4px;
  max-width: 120px;
  min-width: 120px;

  margin-top: 38px;
  margin-bottom: 38px;


  text-align: center;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;


}

p {

  text-align: center;

}
