---
---
.rachkova-animation-fromTop, .rachkova-animation-fromBottom, .rachkova-animation-fromLeft, .rachkova-animation-fromRight {

    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;

}
.rachkova-animation-fromTop {
    animation: fromTop 1s ease-in-out;
        animation-name: fromTop;
}
.rachkova-animation-fromTopFast {
    animation: fromTop 0.5s ease-in-out;
        animation-name: fromTop;
}

.rachkova-animation-fromBottom {
    animation: fromBottom 1s ease-in-out;
        animation-name: fromBottom;
}
.rachkova-animation-fromBottomFast {
    animation: fromBottom 0.5s ease-in-out;
        animation-name: fromBottom;
}
.rachkova-animation-fromLeft {
    animation: fromLeft 1s ease-in-out;
        animation-name: fromLeft;
}
.rachkova-animation-fromRight {
    animation: fromRight 1s ease-in-out;
        animation-name: fromRight;
}

.rachkova-hr-animation {

    animation: hrAni 1s ease-in-out;
    animation-name: hrAni;
}
.rachkova-hr-animationFast {
    animation: hrAni 0.5s ease-in-out;
    animation-name: hrAni;
}

@keyframes hrAni {
 0% {
  opacity: 0;
  transform: scaleX(0);
  // transform:translateY(-100px);
 }
 80% {
   opacity: 1;
 }
 100% {

  transform: scaleX(1);
  // transform:translateY(0px);
 }
}

@keyframes fromTop {
 0% {
   opacity: 0;
  transform:translateY(-100px)
 }
 80% {
   opacity: 1;
 }
 100% {

  transform:translateY(0)
 }
}
@keyframes fromBottom {
 0% {

  transform:translateY(100px)
 }
 100% {

  transform:translateY(0)
 }
}
@keyframes fromLeft {
 0% {

  transform:translateX(-100px)
 }
 100% {

  transform:translateX(0)
 }
}
@keyframes fromRight {
 0% {

  transform:translateX(100px)
 }
 100% {

  transform:translateX(0)
 }
}
