---
---

.header {

  position: relative;

  
  background-size: cover;
  background-position: center;


  background-repeat: no-repeat;
  // background-attachment: fixed;

}

.header-container-rachkova {

    padding-top: 360px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.p-container-center  {

  display: flex;
  justify-content: center;

  p {

    max-width: 1320px !important;
    align-self: center;

  }
}

.header-content-before {
  opacity: 0;
}
