---
---
@import "import_mainResponsiveFunctions";

.header {

  position: relative;
  background-image: url('../img/front/header/header.jpg');

  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  // background-attachment: fixed;

}

.header-container-rachkova {

    @include widthLvl00 {padding-top: 30%;}
    @include widthLvl01 {padding-top: 30%;}
    @include widthLvl02 {padding-top: 30%;}
    @include widthLvl03 {padding-top: 30%;}
    @include widthLvl04 {padding-top: 360px;}
    @include widthLvl05 {padding-top: 360px;}
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.p-container-center  {

  display: flex;
  justify-content: center;

  p {

    max-width: 1320px !important;
    align-self: center;

  }
}

.header-content-before {
  opacity: 0;
}
