---
---

.header {

  position: relative;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;


  background-repeat: no-repeat;
  // background-attachment: fixed;

}

.header-container-rachkova {





    padding-top: 360px;
    width: 100%;

    display: flex;

    flex-direction: column;

    justify-content: center;

}

.p-container-center  {

  display: flex;
  justify-content: center;

  p {

    max-width: 1320px !important;
    align-self: center;

    font-weight: bold;
    font-size: 30px;

  }
}

.header-content-before {
  opacity: 0;
}
