---
---

$stageZero: 410px;

$stageOneLower: 411px;
$stageOneHigher: 767px;

$stageTwoLower: 768px;
$stageTwoHigher: 991px;

$stageThreeLower: 992px;
$stageThreeHigher: 1199px;

$stageFourLower: 1200px;
$stageFourHigher: 1919px;

$stageFive: 1920px;

@mixin widthLvl00 {
  @media (max-width: $stageZero) { @content; }
}

@mixin widthLvl01 {
  @media (min-width:$stageOneLower) and (max-width:$stageOneHigher)  { @content; }
}

@mixin widthLvl02 {
  @media (min-width:$stageTwoLower) and (max-width:$stageTwoHigher) { @content; }
}
@mixin widthLvl03 {
  @media (min-width:$stageThreeLower) and (max-width:$stageThreeHigher) { @content; }
}
@mixin widthLvl04 {
  @media (min-width:$stageFourLower) and (max-width:$stageFourHigher) { @content; }
}

@mixin widthLvl05 {
  @media (min-width: $stageFive) { @content; }
}

#projekteHeader {
  opacity: 0;
  color: #c6c6c6;
}

.projekte-index-container {

  width: 100%;
  height: 300px;
  background-color: #373737;

  // its a hack, dont remove this
  margin-top: -20px;
  //
  padding-top: 82px;

  display: flex;
  justify-content: center;


}

.projekte-index-content {

   max-width: 1320px;
   min-width: 1320px;

   padding: 0px 20px 0px 20px;

   justify-content: center;
   align-items: center;

}

.projekte-index-kategorien-container {

  display: flex;
  flex-flow: row;
  justify-content: space-between;

  padding-top: 100px;

  .kategorien-element {

    color: #c6c6c6;
    font-weight: bold;
    font-size: 30px;

  }

}

.projekte-container-fluid {

  @include widthLvl00 {margin-top: 100px; padding-top: 0px;}
  @include widthLvl01 {margin-top: 100px; padding-top: 0px;}
  @include widthLvl02 {margin-top: 150px; padding-top: 0px;}

  margin-top: 150px;
  padding-top: 100px;

  width: 100%;
  height: auto;

  display: flex;
  padding-top: 100px;

}

.projekte-container {

  width: 100%;
  display: flex;
  flex-direction: column;

}

.projekte-row-1, .projekte-row-2, .projekte-row-3 {

  width: 100%;
  display: flex;
  flex-direction: row;

  @include widthLvl00 {flex-direction: column;}
  @include widthLvl01 {flex-direction: column;}
  @include widthLvl02 {flex-direction: column;}

}

.projekte-spacer-vertical {
  @include widthLvl00 {min-width: 0vw; max-width: 0vw; width: 0vw;}
  @include widthLvl01 {min-width: 0vw; max-width: 0vw; width: 0vw;}
  @include widthLvl02 {min-width: 0vw; max-width: 0vw; width: 0vw;}

  min-width: 1.5vw; width: 1.5vw;


}

.projekte-spacer-horizontal-mobile {
  min-height: 1.5vw;
  display: flex;
  @include widthLvl03 {min-height: 0vw; display: none;}
  @include widthLvl04 {min-height: 0vw; display: none;}
  @include widthLvl05 {min-height: 0vw; display: none;}
}
.projekte-spacer-horizontal {

  @include widthLvl03 {min-height: 1.5vw;}
  @include widthLvl04 {min-height: 1.5vw;}
  @include widthLvl05 {min-height: 1.5vw;}



}

@for $i from 1 through 7 {
  .projekte-element-#{$i}, .projekte-element-#{$i}-placeholder {

    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;


    @include widthLvl00 {height: 40vh; min-width: 100vw; max-width: 100vw; width: 100vw;  }
    @include widthLvl01 {height: 40vh; min-width: 100vw; max-width: 100vw; width: 100vw;  }
    @include widthLvl02 {height: 40vh; min-width: 100vw; max-width: 100vw; width: 100vw;  }

    img {
      transition: transform .3s;
      // filter: grayscale(100%);
      object-fit: cover;
      align-self: center;

    }

    img:hover {
      // filter: grayscale(0);
      transform: scale(1.1);
      cursor: pointer;

    }
    .projekte-img-description {

      background-color: #373737;
      color: #c6c6c6;
      position: absolute;
      bottom: 40px;
      right: 40px;
    }
    .projekte-img-description-big {

      color: #c6c6c6;
      position: absolute;
      top: 20px;
      left: 20px;
      word-break: break-word;
      font-size: 60px;
    }
  }
}

.projekte-element-1 {

  @include widthLvl03 {height: 948px;}
  @include widthLvl04 {height: 948px;}
  @include widthLvl05 {height: 948px;}

  width: 66%;

}

.projekte-element-2, .projekte-element-2-placeholder {

  width: 32.75%;

  @include widthLvl03 {height: 948px;}
  @include widthLvl04 {height: 948px;}
  @include widthLvl05 {height: 948px;}

}

.projekte-element-3, .projekte-element-4, .projekte-element-4-placeholder {
  width: 48.5vw;
  @include widthLvl03 {height: 632px;}
  @include widthLvl04 {height: 632px;}
  @include widthLvl05 {height: 632px;}

}

.projekte-element-5, .projekte-element-6, .projekte-element-7, .projekte-element-6-placeholder, .projekte-element-7-placeholder {
  width: 32.3vw;
  @include widthLvl03 {height: 474px;}
  @include widthLvl04 {height: 474px;}
  @include widthLvl05 {height: 474px;}

}

@for $i from 1 through 7 {
  .projekte-element-#{$i}-placeholder {
  @include widthLvl00 {max-height: 0vh; display: none;}
  @include widthLvl01 {max-height: 0vh; display: none;}
  @include widthLvl02 {max-height: 0vh; display: none;}
  }
}
