---
---

@import "import_mainResponsiveFunctions";


.cv-description-container {

    width: 100%;
    display: flex;
    justify-content:
    center;

}

.cv-description {

  width: 100%;
  padding-bottom: 75px;

  @include widthLvl00 { word-wrap: break-word; overflow-wrap: break-word;padding-top: 0px; padding-right:2.5%; }
  @include widthLvl01 { padding-top: 0px; padding-right:2.5%; }
  @include widthLvl02 { padding-top: 0px; padding-right:2.5%; }
  @include widthLvl03 { padding-top: 0px; padding-right:2.5%; }
  @include widthLvl04 { justify-content: flex-start; flex-direction: row; overflow: hidden; }
}
