---
---

@import "import_colors";
@import "import_mainResponsiveFunctions";

#bueroHeader {
  opacity: 0;
  color: $colorDarkGrey;
}

.buero-grey-border {
  width: 100%;
  background-color: $colorDarkGrey;

  @include widthLvl00 {min-height: 25px;}
  @include widthLvl01 {min-height: 25px;}
  @include widthLvl02 {min-height: 25px;}
  @include widthLvl03 {min-height: 25px;}
  @include widthLvl04 {min-height: 25px;}
  @include widthLvl05 {min-height: 25px;}

}

.buero-container {

    width: 100%;


    @include widthLvl00 {min-height: 480px;}
    @include widthLvl01 {min-height: 580px;}
    @include widthLvl02 {min-height: 680px;}
    @include widthLvl03 {min-height: 780px;}
    @include widthLvl04 {min-height: 880px;}
    @include widthLvl05 {min-height: 980px;}

    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;

}

.buero-content {

    min-width: 1320px;
    max-width: 1320px;

    justify-content: flex-start;
    align-items: flex-start;


}

.buero-sub-container {

  width: 100%;
  @include widthLvl00 { width: 95%;}
  @include widthLvl01 { width: 95%;}
  @include widthLvl02 { width: 90%;}
  @include widthLvl03 { width: 90%;}
  @include widthLvl04 { max-width: 68.75%; width: 68.75%; overflow: hidden; }
  @include widthLvl05 { min-width: 100%; max-width: 100%; width: 100%; overflow: hidden; }

}

.buero-description {

}
