---
---

$stageZero: 410px;

$stageOneLower: 411px;
$stageOneHigher: 767px;

$stageTwoLower: 768px;
$stageTwoHigher: 991px;

$stageThreeLower: 992px;
$stageThreeHigher: 1199px;

$stageFourLower: 1200px;
$stageFourHigher: 1919px;

$stageFive: 1920px;

@mixin widthLvl00 {
  @media (max-width: $stageZero) { @content; }
}

@mixin widthLvl01 {
  @media (min-width:$stageOneLower) and (max-width:$stageOneHigher)  { @content; }
}

@mixin widthLvl02 {
  @media (min-width:$stageTwoLower) and (max-width:$stageTwoHigher) { @content; }
}
@mixin widthLvl03 {
  @media (min-width:$stageThreeLower) and (max-width:$stageThreeHigher) { @content; }
}
@mixin widthLvl04 {
  @media (min-width:$stageFourLower) and (max-width:$stageFourHigher) { @content; }
}

@mixin widthLvl05 {
  @media (min-width: $stageFive) { @content; }
}


.rachkova-nav-container {

    background-color: white;
    // background-color: rgba(200,200,0,0.2);
    width: 100%;
    min-width: 100%;

    position: fixed;
    top: 0px;

    height: 100px;
    min-height: 100px;
    max-height: 100px;

    z-index: 999;

    display: flex;
    flex-direction: row;

}

.nav-left-spacer, .nav-right-spacer {

    @include widthLvl00 {width: 2.5%;}
    @include widthLvl01 {width: 2.5%;}
    @include widthLvl02 {width: 2.5%;}
    @include widthLvl03 {width: 2.5%;}
    @include widthLvl04 {width: 2.5%;}
    @include widthLvl05 {width: 15.625%;}

    width: 15.625%;
    height: 100%;
    min-height: 100%;

}



.nav-logo-container {

  @include widthLvl00 {width: 80%; display: flex; justify-content: center;}
  @include widthLvl01 {width: 75%; display: flex; justify-content: center;}
  @include widthLvl02 {width: 85%;}
  @include widthLvl03 {width: 60%;}
  @include widthLvl04 {width: 55%;}
  @include widthLvl05 {width: 34.375%;}
  // background-color: rgba(0, 100, 50, 0.1);

  width: 34.375%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;

  & img {
    transition: all .3s ease-in-out; 
    @include widthLvl00 {
      text-align: center;
      max-width: 100%;
      height: auto;
      align-self: center;

    }
    @include widthLvl01 {
      text-align: center;
      max-width: 100%;
      height: auto;
      align-self: center;


    }
    @include widthLvl02 {
      max-width: 525px;
      height: 72px;
      padding-top: 12.5px;

    }

    @include widthLvl03 {
      max-width: 525px;
      height: 72px;
      padding-top: 12.5px;

    }

    max-width: 660px;
    padding-top: 5px;
    height: 90px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }


}

.nav-menu {
  @include widthLvl00 {
    width: 20%;
    justify-content: center;


  }
  @include widthLvl01 {
    width: 20%;
    justify-content: center;


  }
  @include widthLvl02 {
    width: 10%;
    justify-content: center;


  }
  @include widthLvl03 {width: 40%;}
  @include widthLvl04 {width: 40%;}
  @include widthLvl05 {width: 34.375%;}

  // background-color: rgba(120, 0, 255, 0.3);

  height: 100%;
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: row;

  justify-content: flex-end;

}

.nav-element {

  @include widthLvl00 { display: none;}
  @include widthLvl01 { display: none;}
  @include widthLvl02 { display: none;}

  @include widthLvl03 {

    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    padding: 56px 10px 20px 10px;

  }

  line-height: 16px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #383533;

  padding: 60px 10px 20px 10px;

    &:hover {
      cursor: pointer;
      color: #c6c6c6;
      // color: $color-primary-hover;
    }

    // &:after {
    //   display:block;
    //   content: '';
    //   border-bottom: solid 3px #383533;
    //   transform: scaleX(0);
    //   transition: transform 250ms ease-in-out;
    // }
    //
    // &:hover:after { transform: scaleX(1); }

}


.ripple{
  position:absolute;
  background:#fff;
  border-radius:50%;
  width:5px;
  height:5px;
  animation:rippleEffect .6s 1;
  opacity:0;
}

@keyframes rippleEffect {
  0% {transform:scale(1); opacity:0.4;}
  100% {transform:scale(100); opacity:0;}
}

.item {

    @include widthLvl00 {
      display: flex;

      width: 33px;
      height: 30px;
      background: #fff;
      margin: 2px;
      padding: 2px;
      border-radius: 2px;


    }
    @include widthLvl01 {display: flex;}
    @include widthLvl02 {display: flex;}
    @include widthLvl03 {display: none;}
    @include widthLvl04 {display: none;}
    @include widthLvl05 {display: none;}

    align-self: center;

    top: 0px;

    width: 55px;
    height: 50px;
    background: #fff;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    backface-visibility: hidden;
    transition:0.5s;


   span {
     @include widthLvl00 {


       left: 3.5px;
       right: 3.5px;
       width: 30px;
       height: 3.5px;


     }

      display: block;
      background: #383533;
      width: 50px;
      height: 7px;
      position: absolute;
      left: 7px;
      right: 7px;

      &.top {
        @include widthLvl00 { top: 6px;}
         top: 12px;
      }

      &.middle {
        @include widthLvl00 { top: 16px;}
         top: 27px;
      }

      &.bottom {
        @include widthLvl00 { top: 26px;}
         top: 42px;
      }


   }
}

// A version

.item-b{
   span {
      transition-property: all;
      transition-duration: 0.2s;
      transition-delay: 0;
      transition-timing-function: cubic-bezier(.48,-0.28,.41,1.4);
   }
}

.item-b.active {

   span {
      transition-property: all;
      transition-duration: 0.2s;
      transition-delay: 0;
      transition-timing-function: cubic-bezier(.48,-0.28,.41,1.4);
   }

   .top {
      margin-top: 5px;
      @include widthLvl00 {
            transform: translateY(5px) rotate(45deg);
      }

      transform: translateY(10px) rotate(45deg);

   }

   .middle {
      opacity: 0;
      transform: scale(0,0);
   }

   .bottom {
      margin-top: 5px;
      @include widthLvl00 {
        transform: translateY(-15px) rotate(-45deg);
      }

      transform: translateY(-20px) rotate(-45deg);

   }
}


#myModal {

  min-width: 100vw;
  min-height: 100%;

  @include widthLvl00 {margin-top: 100px;}
  @include widthLvl01 {margin-top: 100px;}
  @include widthLvl02 {margin-top: 100px;}
  @include widthLvl03 {margin-top: 100px;}
  @include widthLvl04 {margin-top: 100px;}
  @include widthLvl05 {margin-top: 100px;}

  position: absolute;
  top:0px;
  left: 0px;
  z-index: 2;

  background-color: rgba(0,0,0,0.5);
  overflow: hidden;

}

.modal {
  display: none;

  &.visible {

    display: flex;

  }
  &:hover {
    cursor: pointer;
  }
}

#modalMobileNavigation {

  z-index: 3;
  position: absolute;
  top:0px;
  left: 0px;
  overflow: auto;
  background-color: #383533;
  padding-top: 100px;
  @include widthLvl02 {
    padding-top: 150px;
  }
  height: 100%;
  display: flex;

}

.modalNav {

  transition: all .3s ease-in-out;
  width: 0vw;
  min-width: 0vw;
  max-width: 0vw;

  &.visible {
    @include widthLvl00 {
      width: 100vw;
      min-width: 100vw;
      max-width: 100vw;
    }
    @include widthLvl01 {
      width: 100vw;
      min-width: 100vw;
      max-width: 100vw;
    }
    @include widthLvl02 {
      width: 60vw;
      min-width: 60vw;
      max-width: 60vw;
    }

  }
}

.mobileNavigationContainer {
  @include widthLvl00 { padding-top: 5%; padding-left: 5%; padding-bottom: 10%;}
  @include widthLvl01 { padding-top: 5%; padding-left: 5%; padding-bottom: 10%;}
  @media screen and (orientation:landscape) { padding-top: 2.5%; padding-left: 2.5%; }
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;

}

.nav-element-mobile {

  color: #c6c6c6;
  transition: all .3s ease-in-out;
  font-weight: 600;

  &.primary {
    font-size: 42px;
    @media screen and (orientation:landscape) { font-size: 20px; }
  }
  &.secondary {
    font-size: 28px;
    @include widthLvl02 {display: none;}
    padding-left: 28px;
    @media screen and (orientation:landscape) { font-size: 16px; padding-left: 16px;}
  }
  &:hover {
    color: white;
    cursor: pointer;
  }
}
