$stageZero: 410px;
$stageOneLower: 411px;
$stageOneHigher: 767px;
$stageTwoLower: 768px;
$stageTwoHigher: 1199px;
$stageThree: 1199px;

@mixin wdithLvl00 {
  @media (max-width: $stageZero) { @content; }
}

@mixin wdithLvl01 {
  @media (min-width:$stageOneLower) and (max-width:$stageOneHigher)  { @content; }
}

@mixin wdithLvl02 {
  @media (min-width:$stageTwoLower) and (max-width:$stageTwoHigher) { @content; }
}
@mixin wdithLvl03 {
  @media (min-width:$stageTwoLower) and (max-width:$stageTwoHigher) { @content; }
}
@mixin wdithLvl04 {
  @media (min-width:$stageTwoLower) and (max-width:$stageTwoHigher) { @content; }
}

@mixin wdithLvl05 {
  @media (min-width: $stageThree) { @content; }
}
