<div class="nl-image buero-container background-preloader" id="buero-rachkova" data-background="../img/front/buero/buero-background.png">

  <div class="buero-content">

    <div id="bueroHeader"><h2>Büro</h2></div>

    <div id="bueroHrAnimation" class="border-color-dark"><hr></div>

    <div class="buero-sub-container" id="bueroSubContainer">
      <div class="buero-description">
        technische kompetenz und fachwissen können auch ein weibliches gesicht haben.
        kreative lösungen für anspruchsvolle architekturprojekte sind unser markenzeichen
      </div>
    </div>

  </div>
</div>
