<div class="cv-container" id="cv-rachkova">
  <div class="cv-content">

      <div class="cv-description-container" id="cvSubContainer">
        <div class="neli" id="cvHeader">Dipl. Ing. Neli Rachkova</div>
        <div class="cv-description">
          berufliche schwerpunkte
          <br>
          <br>
          anspruchsvolle stahlbetonkonstruktionen, baudynamik, bauphysik, geotechnik
          <br>
          <br>
          beruflicher werdegang
          <br>
          <br>
          selbständige tätigkeit als ingenieurkonsulentin für bauwesen seit 2003
          <br>
          bürogemeinschaft mit zt-büro DI Herbert Brückner 2003-2012
          <br>
          kanzleieröffnung im januar 2003
          <br>
          11 Jahre als projektleiterin und statikerin im bereich hochbau in div. zt-büros
          <br>
          3 Jahre als universitätsassistentin - tu sofia, abteilung für geotechnik
          <br>
          vorsitzende der arbeitsgruppe der ziviltechnikerinnen bei der kammer der architekten und ingeneurkonsulenten für wien, niederösterreich und burgenland von 2005 bis 2007
        </div>
        </div>
      </div>

  </div>
</div>
