<a id="header"><div class="nl-image header background-preloader" data-background="../img/front/header/header.jpg" id="header-rachkova">

    <div class="header-container-rachkova">

            <div class="rachkova-animation-fromTop"><h1>Willkommen</h1></div>

            <div class="border-color-dark rachkova-hr-animation"><hr></div>

            {% comment %}
            <!-- <div class="p-container-center rachkova-animation-fromBottom">
                <p>
                  technische kompetenz und fachwissen können auch ein weibliches gesicht haben. kreative lösungen für anspruchsvolle architekturprojekte sind unser markenzeichen.
                </p>
            </div> -->
            {% endcomment %}

    </div>

</div></a>
