<div class="header lazy" data-src="../img/header.jpg">


    <div class="header-container-rachkova lazy-header-content header-content-before " id="header-rachkova">

            <div class="rachkova-animation-fromTop"><h1>Willkommen</h1></div>

            <hr>

            <div class="p-container-center rachkova-animation-fromBottom">
            <p>technische kompetenz und fachwissen können auch ein weibliches gesicht haben.
kreative lösungen für anspruchsvolle architekturprojekte sind unser markenzeichen.</p>
</div>



    </div>

</div>
