<a class="anchormarginLeistungen" id="kontakt"></a>
<div class="main-index-container background-darkgrey" id="kontakt-rachkova">
  <div class="main-index-content">

    <div id="kontaktHeader"><h2>Kontakt</h2></div>
    <div id="kontaktHrAnimation" class="border-color-light"><hr></div>



    <div class="kontakt-description-container inner-content-padding">

      <div class="kontakt-adress-container">
          <div class="kontakt-header">Büro</div>
          <div class="kontakt-description">
            Paniglgasse 22/6
            <br>
            A-1040 Wien
            <br>
            <br>
            office@rachkova.at
            <br>
            tel +43 1 95 55 094
            <br>
            fax +43 1 95 55 097
          </div>

          <div class="kontakt-header">Filiale</div>
          <div class="kontakt-description">
            Jakob Fuchs Gasse 61
            <br>
            A-2345 Brunn am Gebirge
          </div>

        </div>

        <div class="kontakt-googlemaps-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.4329355650934!2d16.366163952014652!3d48.19827637912635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d0782fce12db5%3A0xe39f0286b416098!2sPaniglgasse%2022%2C%201040%20Wien!5e0!3m2!1sde!2sat!4v1583094912247!5m2!1sde!2sat" style="border:0; height: 450px; width: 100%" allowfullscreen=""></iframe>
        </div>

      </div>


  </div>
</div>
