<div class="leistungen-container" id="leistungen-rachkova">
  <div class="leistungen-content">

    <h2>leistungen</h2>

    <div class="leistungen-sub-container">

      <div class="leistungen-element-container">
        <div class="leistungen-element-h lazy-fromBottom">tragwerksplanung</div>
        <div class="leistungen-element-beschreibung lazy-fromBottom">anspruchsvolle tragwerke aus stahlbeton | tragwerke aus stahl und/oder holz | altbausanierungen und aufstockungen | tragwerke aus fertigteilen</div>
      </div>

      <div class="leistungen-element-container">
        <div class="leistungen-element-h lazy-fromBottom">baudynamik</div>
        <div class="leistungen-element-beschreibung lazy-fromBottom">erdbebenberechnungen | antwortspektrumanalyse</div>
      </div>

      <div class="leistungen-element-container">
        <div class="leistungen-element-h-single lazy-fromBottom">gutachten</div>
      </div>

      <div class="leistungen-element-container">
        <div class="leistungen-element-h-single lazy-fromBottom">prüfungsingenieurleistungen gem. wiener bauordnung</div>
      </div>

    </div>

  </div>
</div>
