<a class="anchormarginLeistungen" id="leistungen"></a>


<div class="nl-image main-index-container background-white" data-background="../img/front/leistungen/leistungen-background.png" style="background-color:#fff;">
  <div class="main-index-content" id="leistungen-rachkova">

    <div id="leistungenHeader"><h2>leistungen</h2></div>
    <div id="leistungenHrAnimation" class="border-color-dark"><hr></div>

    <div class="leistungen-sub-container inner-content-padding" id="leistungenSubContainer">

        <div class="leistungen-element-container module-fromBottom">
          <div class="leistungen-element-h">tragwerksplanung</div>
          <div class="leistungen-element-beschreibung ">anspruchsvolle tragwerke aus stahlbeton | tragwerke aus stahl und/oder holz | altbausanierungen und aufstockungen | tragwerke aus fertigteilen</div>
        </div>
        <div class="leistungen-element-container module-fromBottom">
          <div class="leistungen-element-h">baudynamik</div>
          <div class="leistungen-element-beschreibung ">erdbebenberechnungen | antwortspektrumanalyse</div>
        </div>
        <div class="leistungen-element-container module-fromBottom">
          <div class="leistungen-element-h-single">gutachten</div>
        </div>
        <div class="leistungen-element-container module-fromBottom">
          <div class="leistungen-element-h-single">prüfungsingenieurleistungen gem. wiener bauordnung</div>
        </div>

    </div>

    <div class="leistungen-mobile-content inner-content-padding">
        <div class="leistungen-mobile-element-h">tragwerksplanung</div>
            <div class="leistungen-mobile-element-sub">anspruchsvolle tragwerke aus stahlbeton</div>
            <div class="leistungen-mobile-element-sub">altbausanierungen und aufstockungen</div>
            <div class="leistungen-mobile-element-sub">tragwerke aus fertigteilen</div>
        <div class="leistungen-mobile-element-h">baudynamik</div>
            <div class="leistungen-mobile-element-sub">erdbebenberechnungen</div>
            <div class="leistungen-mobile-element-sub">antwortspektrumanalyse</div>
        <div class="leistungen-mobile-element-h">gutachten</div>
        <div class="leistungen-mobile-element-h">prüfungsingenieurleistungen gem. wiener bauordnung</div>
    </div>


  </div>
</div>
