<div class="leistungen-container" id="leistungen-rachkova">
  <div class="leistungen-content">

    <div class="module-fromBottom"><h2>leistungen</h2></div>

    <div class="leistungen-sub-container">

      <div class="leistungen-element-container module-fromBottom">
        <div class="leistungen-element-h">tragwerksplanung</div>
        <div class="leistungen-element-beschreibung ">anspruchsvolle tragwerke aus stahlbeton | tragwerke aus stahl und/oder holz | altbausanierungen und aufstockungen | tragwerke aus fertigteilen</div>
      </div>

      <div class="leistungen-element-container module-fromBottom">
        <div class="leistungen-element-h">baudynamik</div>
        <div class="leistungen-element-beschreibung ">erdbebenberechnungen | antwortspektrumanalyse</div>
      </div>

      <div class="leistungen-element-container module-fromBottom">
        <div class="leistungen-element-h-single">gutachten</div>
      </div>

      <div class="leistungen-element-container module-fromBottom">
        <div class="leistungen-element-h-single">prüfungsingenieurleistungen gem. wiener bauordnung</div>
      </div>

    </div>

  </div>
</div>
