

{% if page.url contains "stahl" or page.url contains "efh" or page.url contains "altbau" or page.url contains "projekte" %}
<div id="nav" class="rachkova-nav-container background-white">
{% else %}
<div id="nav" class="rachkova-nav-container background-transparent">
{% endif %}

  <div class="nav-left-spacer"></div>

  <div class="nav-logo-container">
    <img src="../img/front/navigation/rachkova-logo.png" onclick="clickLink('{{ environment }}/#header')" alt="Neli Rachkova Ing.-Österreich Logo">
  </div>

  <div class="nav-menu">
    {% comment %}
    <!-- <div class="nav-element" id="scrollfromTop"></div>
    <div class="nav-element" id="ScreenHeight"></div>
    <div class="nav-element" id="ProjekteTarget"></div> -->
    {% endcomment %}

    {% if page.url contains "stahl" or page.url contains "efh" or page.url contains "altbau" or page.url contains "projekte" %}
        <div class="nav-element" onclick="clickLink('{{ environment }}/#header')">Home</div>
    {% else %}
        <div class="nav-element" onclick="smoothScroll(document.getElementById('header-rachkova'))">Home</div>
    {% endif %}

        <div class="nav-element" onclick="clickLink('{{ environment }}/projekte')">Projekte</div>
        <div class="nav-element" onclick="clickLink('{{ environment }}/#leistungen')">Leistungen</div>
        <div class="nav-element" onclick="clickLink('{{ environment }}/#buero')">Büro</div>
        <div class="nav-element" onclick="clickLink('{{ environment }}/#kontakt')">Kontakt</div>

    <div id="initiate" class="item item-transition item-b color-button myRipple">

      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>

    </div>
  </div>

  <div class="nav-right-spacer"></div>
</div>

<!-- // If click on initiate, width goes to 100vw -->
<div id="modalMobileNavigation" class="modalNav">
    <div class="mobileNavigationContainer">
      <div class="nav-element-mobile primary" onclick="clickLink('{{ environment }}/#header')">Home</div>
      <div class="nav-element-mobile primary" onclick="clickLink('{{ environment }}/projekte')">Projekte</div>
          <div class="nav-element-mobile secondary" onclick="clickLink('{{ environment }}/stahlbetonbau')">stahlbetonbau</div>
          <div class="nav-element-mobile secondary" onclick="clickLink('{{ environment }}/stahlholzbau')">stahl- und holzbau</div>
          <div class="nav-element-mobile secondary" onclick="clickLink('{{ environment }}/efh')">anspruchsvolle efh</div>
          <div class="nav-element-mobile secondary" onclick="clickLink('{{ environment }}/altbau')">altbau</div>
      <div class="nav-element-mobile primary" onclick="clickLink('{{ environment }}/#leistungen')">Leistungen</div>
      <div class="nav-element-mobile primary" onclick="clickLink('{{ environment }}/#buero')">Büro</div>
      <div class="nav-element-mobile primary" onclick="clickLink('{{ environment }}/#kontakt')">Kontakt</div>
    </div>
</div>
