<div class="rachkova-nav-container">

  <div class="nav-left-spacer"></div>

  <div class="nav-logo-container">
    <img src="../img/front/navigation/rachkova-logo.png" onclick="smoothScroll(document.getElementById('header-rachkova'))">
  </div>

  <div class="nav-menu">
    <div class="nav-element" id="scrollfromTop"></div>
    <div class="nav-element" id="ScreenHeight"></div>
    <div class="nav-element" id="ProjekteTarget"></div>


    <div class="nav-element" onclick="smoothScroll(document.getElementById('header-rachkova'))">Home</div>
    <div class="nav-element"><a href="../projekte">Projekte</a></div>
    <div class="nav-element" onclick="smoothScroll(document.getElementById('leistungen-rachkova'))">Leistungen</div>
    <div class="nav-element" onclick="smoothScroll(document.getElementById('buero-rachkova'))">Büro</div>
    <div class="nav-element" onclick="smoothScroll(document.getElementById('contact-rachkova'))">Kontakt</div>

    <div id="initiate" class="item item-transition item-b color-button myRipple">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </div>


  </div>

  <div class="nav-right-spacer"></div>
</div>
