<div class="main-index-container background-darkgrey" id="projekte-index-rachkova">
  <div class="main-index-content">

    <div id="projekteHeader"><h2>Projekte</h2></div>

    <div class="border-color-light"><hr></div>

    <div class="projekte-index-kategorien-container">
      <div class="kategorien-spacer"></div>
      <div class="kategorien-element"onclick="clickLink('{{ environment }}/projekte')">alle projekte</div>
      <div class="kategorien-element"onclick="clickLink('{{ environment }}/stahlbetonbau')">stahlbetonbau</div>
      <div class="kategorien-element"onclick="clickLink('{{ environment }}/stahlholzbau')">stahl- und holzbau</div>
      <div class="kategorien-element"onclick="clickLink('{{ environment }}/efh')">anspruchsvolle efh</div>
      <div class="kategorien-element"onclick="clickLink('{{ environment }}/altbau')">altbau</div>
      <div class="kategorien-spacer"></div>
    </div>

    <div class="projekte-preview-img-container">
      <div id="projekte-preview-1" class="nl-image projekte-preview-elements background-preloader" onclick="clickLink('{{ environment }}/stahlbetonbau')" data-background="../img/projekte/stahlbetonbau/WHAugartenstrasse/main.jpg">Stahlbetonbau</div>
      <div id="projekte-preview-2" class="nl-image projekte-preview-elements background-preloader" onclick="clickLink('{{ environment }}/stahlholzbau')" data-background="../img/projekte/stahlholzbau/Leopoldsdorf/main.jpg">Stahlholzbau</div>
      <div id="projekte-preview-3" class="nl-image projekte-preview-elements background-preloader" onclick="clickLink('{{ environment }}/efh')" data-background="../img/projekte/efh/Attersee/main.jpg">EFH</div>
      <div id="projekte-preview-4" class="nl-image projekte-preview-elements background-preloader" onclick="clickLink('{{ environment }}/altbau')" data-background="../img/projekte/efh/Haus1140/main.jpg">Altbau</div>
    </div>

  </div>
</div>

<div id="projekteHrAnimation"></div>
<a class="anchormarginLeistungen" id="leistungen"></a>
