<div class="projekte-index-container" id="projekte-index-rachkova">
  <div class="projekte-index-content">

    <div id="projekteHeader"><h2>Projekte</h2></div>

    <div id="projekteHrAnimation" class="border-color-light"><hr></div>

    <div class="projekte-index-kategorien-container">

      <div class="kategorien-element">alle projekte</div>
      <div class="kategorien-element">stahlbau</div>
      <div class="kategorien-element">holzbau</div>
      <div class="kategorien-element">anspruchsvolle EFH</div>
      <div class="kategorien-element">altbau</div>

    </div>

  </div>
</div>
