<div class="projekte-index-container" id="projekte-index-rachkova">
  <div class="projekte-index-content">

    <div id="projekteHeader"><h2>Projekte</h2></div>

    <div id="projekteHrAnimation" class="border-color-light"><hr></div>

    <div class="projekte-index-kategorien-container">
      <div class="kategorien-spacer"></div>
      <div class="kategorien-element"onclick="clickLink('{{ environment }}/projekte')">alle projekte</div>
      <div class="kategorien-element"onclick="clickLink('{{ environment }}/stahlbau')">stahlbau</div>
      <div class="kategorien-element"onclick="clickLink('{{ environment }}/stahlholzbau')">stahl- und holzbau</div>
      <div class="kategorien-element"onclick="clickLink('{{ environment }}/efh')">anspruchsvolle efh</div>
      <div class="kategorien-element"onclick="clickLink('{{ environment }}/altbau')">altbau</div>
      <div class="kategorien-spacer"></div>
    </div>

  </div>
</div>
<a class="anchormarginLeistungen" id="leistungen"></a>
