<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

  {% include navigation.html %}

  {% include subnavigation.html %}

  <div class="projekte-container-fluid">
    <div class="projekte-container">


      <div class="projekte-row-1">
        <div class="projekte-spacer-horizontal-mobile"></div>
        <div class="projekte-element-1">
          Stahlbetonbau Projekt 1
        </div>
        <div class="projekte-spacer-horizontal-mobile"></div>
        <div class="projekte-spacer-vertical">

        </div>
        <div class="projekte-element-2">
          Stahlbetonbau Projekt 2
        </div>
        <div class="projekte-spacer-horizontal-mobile"></div>
      </div>

      <div class="projekte-spacer-horizontal"></div>

      <div class="projekte-row-2">
        <div class="projekte-element-3">
          Stahlbetonbau Projekt 3
        </div>
        <div class="projekte-spacer-horizontal-mobile"></div>
        <div class="projekte-spacer-vertical">

        </div>
        <div class="projekte-element-4">
          Stahlbetonbau Projekt 4
        </div>
        <div class="projekte-spacer-horizontal-mobile"></div>
      </div>

      <div class="projekte-spacer-horizontal"></div>

      <div class="projekte-row-3">
        <div class="projekte-element-5">
          Stahlbetonbau Projekt 5
        </div>
        <div class="projekte-spacer-horizontal-mobile"></div>
        <div class="projekte-spacer-vertical"></div>
        <div class="projekte-element-6">
          Stahlbetonbau Projekt 6
        </div>
        <div class="projekte-spacer-horizontal-mobile"></div>
        <div class="projekte-spacer-vertical"></div>
        <div class="projekte-element-7">
          Stahlbetonbau Projekt 7
        </div>
        <div class="projekte-spacer-horizontal-mobile"></div>
      </div>

    </div>
  </div>

  {% include scripts.html %}

</body>

</html>
