<!DOCTYPE html>
<html lang="en">

{% include head.html %}



<body id="page-top">

  {% include navigation.html %}

  {% include subnavigation.html %}

  {% if page.url contains "/projekte" %}{% assign sortedProjects = site.projekte | sort: 'priorityAllProjects' | reverse %}{% endif %}
  {% if page.url contains "/stahlbetonbau" %}{% assign sortedProjects = site.projekte | where: 'Kategorie', 'Stahlbetonbau' | sort: 'priorityCategory' | reverse %}{% endif %}
  {% if page.url contains "/efh" %}{% assign sortedProjects = site.projekte | where: 'Kategorie', 'efh' | sort: 'priorityCategory' | reverse %}{% endif %}
  {% if page.url contains "/altbau" %}{% assign sortedProjects = site.projekte | where: 'Kategorie', 'altbau' | sort: 'priorityCategory' | reverse %}{% endif %}
  {% if page.url contains "/stahlholzbau" %}{% assign sortedProjects = site.projekte | where: 'Kategorie', 'Stahlholzbau' | sort: 'priorityCategory' | reverse %}{% endif %}

  {% assign totalNrProjects = sortedProjects | size %}

  {% assign helper = totalNrProjects | plus: 7%}
  {% assign NrForLoops = helper | divided_by: 7%}
  {% assign NrForLoopsPlusOne = NrForLoops | plus: 1 %}





  <div class="projekte-container-fluid">
    <div class="projekte-container">

      <!-- Main Loop -->
      {% for projekt in sortedProjects %}

        {% if forloop.index0 == NrForLoops %}
          {% break %}
        {% endif %}

        {% assign numHelper = forloop.index0 | times: 7 %}

        {% assign num1 = numHelper | plus: 0 %}
        {% assign num2 = numHelper | plus: 1 %}
        {% assign num3 = numHelper | plus: 2 %}
        {% assign num4 = numHelper | plus: 3 %}
        {% assign num5 = numHelper | plus: 4 %}
        {% assign num6 = numHelper | plus: 5 %}
        {% assign num7 = numHelper | plus: 6 %}


      <div class="projekte-row-2">
        <div class="projekte-spacer-horizontal-mobile"></div>
        <div class="projekte-spacer-vertical"></div>

        {% assign urlSize1 = sortedProjects[num1].path | size | minus: 4 %}
        {% assign projectImgUrl1 = sortedProjects[num1].path | slice: 1, urlSize1 %}

        <div class="projekte-element-container-3">
            <div class="nl-image projekte-element-3" onclick="clickLink('{{ development }}{{ sortedProjects[num1].url }}')" data-background="{{base.url}}/img/{{ projectImgUrl1 }}/{{ sortedProjects[num1].imgMain }}">

                {% if sortedProjects[num1].imgMain %}
                      <div class="projekte-img-description">
                          {{ sortedProjects[num1].titleMain }}<br>
                      </div>
                {% else %}
                        <div class="projekte-img-description-big">
                          {{ sortedProjects[num1].titleMain }}
                        </div>
                {% endif %}

            </div>
        </div>

        <div class="projekte-spacer-horizontal-mobile"></div>
        <div class="projekte-spacer-vertical"></div>

        {% assign urlSize2 = sortedProjects[num2].path | size | minus: 4 %}
        {% assign projectImgUrl2 = sortedProjects[num2].path | slice: 1, urlSize2 %}

        <div class="projekte-element-container-4">
        {% if sortedProjects[num2] %}{% else %}</div></div>{% break %}{% endif %}

            <div class="nl-image projekte-element-4" onclick="clickLink('{{ development }}{{ sortedProjects[num2].url }}')" data-background="{{base.url}}/img/{{ projectImgUrl2 }}/{{ sortedProjects[num2].imgMain }}">

              {% if sortedProjects[num2].imgMain %}

                  <div class="projekte-img-description">
                      {{ sortedProjects[num2].titleMain }}
                  </div>
                  {% else %}
                    <div class="projekte-img-description-big">
                      {{ sortedProjects[num2].titleMain }}
                    </div>
              {% endif %}
            </div>
          </div>

        </div>




      <div class="projekte-spacer-horizontal"></div>
      <div class="projekte-spacer-horizontal-mobile"></div>

      {% assign urlSize3 = sortedProjects[num3].path | size | minus: 4 %}
      {% assign projectImgUrl3 = sortedProjects[num3].path | slice: 1, urlSize3 %}


        <div class="projekte-row-1">
          <div class="projekte-spacer-vertical"></div>
          {% if sortedProjects[num3] %}<div class="projekte-element-container-1">
          {% else %}</div>{% break %}{% endif %}

        <div class="nl-image projekte-element-1" onclick="clickLink('{{ development }}{{ sortedProjects[num3].url }}')" data-background="{{base.url}}/img/{{ projectImgUrl3 }}/{{ sortedProjects[num3].imgMain }}">

          {% if sortedProjects[num3].imgMain %}
              <div class="projekte-img-description">
                  {{ sortedProjects[num3].titleMain }}
              </div>
              {% else %}
                <div class="projekte-img-description-big">
                  {{ sortedProjects[num3].titleMain }}
                </div>
          {% endif %}
          </div>
        </div>

        <div class="projekte-spacer-horizontal-mobile"></div>
        <div class="projekte-spacer-vertical"></div>

        {% assign urlSize4 = sortedProjects[num4].path | size | minus: 4 %}
        {% assign projectImgUrl4 = sortedProjects[num4].path | slice: 1, urlSize4 %}

        <div class="projekte-element-container-2">
        {% if sortedProjects[num4] %}{% else %}</div></div>{% break %}{% endif %}

              <div class="nl-image projekte-element-2" onclick="clickLink('{{ development }}{{ sortedProjects[num4].url }}')" data-background="{{base.url}}/img/{{ projectImgUrl4 }}/{{ sortedProjects[num4].imgMain }}">


            {% if sortedProjects[num4].imgMain %}

              <div class="projekte-img-description">
                  {{ sortedProjects[num4].titleMain }}
              </div>
            {% else %}
                <div class="projekte-img-description-big">
                  {{ sortedProjects[num4].titleMain }}
                </div>
          {% endif %}

            </div>
          </div>
      </div>

      <div class="projekte-spacer-horizontal-mobile"></div>
      <div class="projekte-spacer-horizontal"></div>


      {% assign urlSize5 = sortedProjects[num5].path | size | minus: 4 %}
      {% assign projectImgUrl5 = sortedProjects[num5].path | slice: 1, urlSize5 %}


      <div class="projekte-row-3">
        <div class="projekte-spacer-vertical"></div>

        {% if sortedProjects[num5] %}<div class="projekte-element-container-5">{% else %}</div>{% break %}{% endif %}

          <div class="nl-image projekte-element-5" onclick="clickLink('{{ development }}{{ sortedProjects[num5].url }}')" data-background="{{base.url}}/img/{{ projectImgUrl5 }}/{{ sortedProjects[num5].imgMain }}">
            {% if sortedProjects[num5].imgMain %}
                <div class="projekte-img-description">
                    {{ sortedProjects[num5].titleMain }}
                </div>
                {% else %}
                  <div class="projekte-img-description-big">
                    {{ sortedProjects[num5].titleMain }}
                  </div>
            {% endif %}
          </div>
        </div>

        <div class="projekte-spacer-horizontal-mobile"></div>
        <div class="projekte-spacer-vertical"></div>

        {% assign urlSize6 = sortedProjects[num6].path | size | minus: 4 %}
        {% assign projectImgUrl6 = sortedProjects[num6].path | slice: 1, urlSize6 %}


        <div class="projekte-element-container-6">
        {% if sortedProjects[num6] %}{% else %}</div><div class="projekte-element-container-7"></div></div>{% break %}{% endif %}

          <div class="nl-image projekte-element-6" onclick="clickLink('{{ development }}{{ sortedProjects[num6].url }}')" data-background="{{ base.url }}/img/{{ projectImgUrl6 }}/{{ sortedProjects[num6].imgMain }}">

            {% if sortedProjects[num6].imgMain %}
              <div class="projekte-img-description">
                    {{ sortedProjects[num6].titleMain }}

              </div>

              {% else %}
                <div class="projekte-img-description-big">
                  {{ sortedProjects[num6].titleMain }}
                </div>
            {% endif %}
          </div>
        </div>


        <div class="projekte-spacer-horizontal-mobile"></div>
        <div class="projekte-spacer-vertical"></div>



        {% assign urlSize7 = sortedProjects[num7].path | size | minus: 4 %}
        {% assign projectImgUrl7 = sortedProjects[num7].path | slice: 1, urlSize7 %}

        <div class="projekte-element-container-7">
        {% if sortedProjects[num7] %}{% else %}</div></div>{% break %}{% endif %}

          <div class="nl-image projekte-element-7" onclick="clickLink('{{ development }}{{ sortedProjects[num7].url }}')" data-background="{{ base.url }}/img/{{ projectImgUrl7 }}/{{ sortedProjects[num7].imgMain }}">

          {% if sortedProjects[num7].imgMain %}
              <div class="projekte-img-description">
                  {{ sortedProjects[num7].titleMain }}
              </div>
          {% else %}
              <div class="projekte-img-description-big">
                {{ sortedProjects[num7].titleMain }}
              </div>
          {% endif %}

          </div>
        </div>

      </div>

      <div class="projekte-spacer-horizontal"></div>


      {% endfor %}

    </div>
  </div>

  {% include modal.html %}
  {% include scripts.html %}

</body>

</html>
