<!DOCTYPE html>
<html lang="de" itemscope itemtype="http://rachkova.github.io">

{% include head.html %}

<body id="page-top">

  {% include navigation.html %}

  {% include subnavigation.html %}

  {% assign projekte = site.projekte %}
  {% for object in projekte %}
  {% if object.url == page.url %}
  {% assign projekt = object %}
  {% else %}{% continue %}
  {% endif %}
  {% endfor %}

  <div id="projektModal" class="projekt-gallery-modal"></div>

  <div class="projekt-container-fluid">

      <div class="projekt-header-container">

        <div class="projekt-header rachkova-animation-fromTopFast">
          <h2>{{ projekt.titleMain }}</h2>
        </div>
      </div>

      <div class="projekt-spacer-horizontal"></div>
      <div class="projekte-spacer-horizontal-mobile"></div>

      <div class="projekt-ImgDescriContainer">

        <div class="projekt-description-container">
            <div class="projekt-description-top rachkova-animation-fromLeftOpacity">
              {{ projekt.description }}
            </div>
            <div class="projekt-description-bottom rachkova-animation-fromLeftOpacity">
              <b>Architektur:</b> {{ projekt.Architektur}}
              <br>
              <b>Auftraggeber:</b> {{ projekt.Auftraggeber }}
              <br>
              <b>Bauzeit:</b> {{ projekt.Bauzeit }}
              <br>
              <b>Leistung:</b> {{ projekt.Leistung }}
              <br>
            </div>
        </div>

        {% assign pathhelper2 = "/img/projekte" %}
        {% assign main = "main.jpg" %}

        <div class="projekt-mainimage-container">
          <img src="{{ site.baseurl }}{{pathhelper2}}{{ page.url }}/{{ main }}" onclick="projektGalleryModal('{{ site.baseurl }}{{pathhelper2}}{{ page.url }}/{{ main }}')" alt="main">
        </div>

      </div>

  </div>

{% comment %}
<!--
      <div class="projekt-ImgDescriContainer">
        <div class="projekt-description-container">

          <div class="projekt-description-top rachkova-animation-fromLeftOpacity">
            {{ projekt.description }}
          </div>
          <div class="projekt-description-bottom rachkova-animation-fromLeftOpacity">
            <b>Architektur:</b> {{ projekt.Architektur}}
            <br>
            <b>Auftraggeber:</b> {{ projekt.Auftraggeber }}
            <br>
            <b>Bauzeit:</b> {{ projekt.Bauzeit }}
            <br>
            <b>Leistung:</b> {{ projekt.Leistung }}
            <br>
          </div>

        </div>

        <div class="projekt-spacer-vertical"></div>
        <div class="projekt-mainImg rachkova-opacity">
          <img src="../img/projekte{{ projekt.url }}/{{ projekt.imgMain }}">
          <div class="projekt-mobile-description rachkova-animation-fromLeftOpacity">
            <div class="projekt-mobile-description-element"><span>{{ projekt.description }}</span></div>
            <div class="projekt-mobile-element"><span><b>Architektur:</b> {{ projekt.Architektur}}</span></div>
            <div class="projekt-mobile-element"><span><b>Auftraggeber:</b> {{ projekt.Auftraggeber }}</span></div>
            <div class="projekt-mobile-element"><span><b>Bauzeit:</b> {{ projekt.Bauzeit }}</span></div>
            <div class="projekt-mobile-element"><span><b>Leistung:</b> {{ projekt.Leistung }}</span></div>
          </div>
        </div>

      </div>

    </div>

</div>

  <div class="projekt-content-container-mobile">
    <div class="projekt-mobile-description-element"><span>{{ projekt.description }}</span></div>
    <div class="projekt-mobile-element"><span><b>Architektur:<b> {{ projekt.Architektur}}</span></div>
    <div class="projekt-mobile-element"><span><b>Auftraggeber:<b> {{ projekt.Auftraggeber }}</span></div>
    <div class="projekt-mobile-element"><span><b>Bauzeit:<b> {{ projekt.Bauzeit }}</span></div>
    <div class="projekt-mobile-element"><span><b>Leistung:<b> {{ projekt.Leistung }}</span></div>
  </div> -->
{% endcomment %}

  <div class="projekt-spacer-horizontal"></div>
  <div class="projekte-spacer-horizontal-mobile"></div>

  <div class="projekt-gallery-container">

      {% assign gallery = projekt.imgGallery %}
      {% assign pathhelper = "/img/projekte" %}
      {% assign gallerySize = gallery | size %}
      {% assign helper = totalNrProjects | plus: 5%}
      {% assign NrForLoops = helper | divided_by: 5%}

      {% for image in gallery %}

        {% if forloop.index0 == NrForLoops %}
          {% break %}
        {% endif %}

        {% assign numHelper = forloop.index0 | times: 5 %}

        {% assign num1 = numHelper | plus: 0 %}
        {% assign num2 = numHelper | plus: 1 %}
        {% assign num3 = numHelper | plus: 2 %}
        {% assign num4 = numHelper | plus: 3 %}
        {% assign num5 = numHelper | plus: 4 %}

      <div class="projekte-row-3">

        <div class="projekte-spacer-vertical"></div>

        {% if gallery[num1] %}<div class="projekte-element-container-5">{% else %}</div>{% break %}{% endif %}

          <div class="nl-image projekte-element-5" onclick="projektGalleryModal('{{ site.baseurl }}{{pathhelper}}{{ page.url }}/{{ gallery[num1] }}')" data-background="{{ site.baseurl }}{{pathhelper}}{{ page.url }}/{{ gallery[num1] }}">
          </div>
        </div>

        <div class="projekte-spacer-vertical"></div>
        <div class="projekte-spacer-horizontal-mobile"></div>

        {% if gallery[num2] %}<div class="projekte-element-container-6">{% else %}<div class="projekte-element-container-6 disable-on-mobile"></div><div class="projekte-element-container-7 disable-on-mobile"></div></div>{% break %}{% endif %}

          <div class="nl-image projekte-element-6" onclick="projektGalleryModal('{{ site.baseurl }}{{pathhelper}}{{ page.url }}/{{ gallery[num2] }}')" data-background="{{ site.baseurl }}{{pathhelper}}{{ page.url }}/{{ gallery[num2] }}">
          </div>
        </div>

        <div class="projekte-spacer-vertical"></div>
        <div class="projekte-spacer-horizontal-mobile"></div>

        {% if gallery[num3] %}<div class="projekte-element-container-7">{% else %}<div class="projekte-element-container-7 disable-on-mobile"></div></div>{% break %}{% endif %}

          <div class="nl-image projekte-element-7" onclick="projektGalleryModal('{{ site.baseurl }}{{pathhelper}}{{ page.url }}/{{ gallery[num3] }}')" data-background="{{ site.baseurl }}{{pathhelper}}{{ page.url }}/{{ gallery[num3] }}">
          </div>
        </div>

        <div class="projekte-spacer-vertical"></div>
        <div class="projekte-spacer-horizontal-mobile"></div>

      </div>

      <div class="projekt-spacer-horizontal"></div>


  {% if gallery[num4] %}
    <div class="projekte-row-2">

      <div class="projekte-spacer-vertical"></div>

      <div class="projekte-element-container-3">
  {% else %}{% break %}{% endif %}

        <div class="nl-image projekte-element-3" onclick="projektGalleryModal('{{ site.baseurl }}{{pathhelper}}{{ page.url }}/{{ gallery[num4] }}')" data-background="{{ site.baseurl }}{{pathhelper}}{{ page.url }}/{{ gallery[num4] }}">
        </div>

      </div>
      <div class="projekte-spacer-vertical"></div>
      <div class="projekte-spacer-horizontal-mobile"></div>
  {% if gallery[num5] %}
      <div class="projekte-element-container-4">
      {% else %}
          <div class="projekte-container-3 disable-on-mobile"></div>
          <div class="projekte-spacer-vertical"></div>

    </div>
    <div class="projekt-spacer-horizontal"></div>
    <div class="projekte-spacer-horizontal-mobile"></div>

      {% break %}{% endif %}

      <div class="nl-image projekte-element-4" onclick="projektGalleryModal('{{ site.baseurl }}{{pathhelper}}{{ page.url }}/{{ gallery[num5] }}')" data-background="{{ site.baseurl }}{{pathhelper}}{{ page.url }}/{{ gallery[num5] }}">
      </div>
      <div class="projekte-spacer-vertical"></div>
    </div>


    </div>

    <div class="projekt-spacer-horizontal"></div>
    <div class="projekte-spacer-horizontal-mobile"></div>
      {% endfor %}
</div>

  {% include modal.html %}
  {% include scripts.html %}

</body>

</html>
